.footer {
  background-color: var(--backgound-hero);
  padding: 60px 0px 60px 0px;
  text-align: center;
}

.footer-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.container__flex {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: left;
  }
}

.logo__color-footer {
  color: var(--color-logo-footer);
}

.logo__bottom {
  margin-bottom: 20px;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--backgound-navigation);
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.address__link {
  display: block;
  color: var(--footer-contacts);
}

.address__text {
}

// .social__flex-footer {
//   display: flex;
// }

.footer-social-wrap {
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.footer-wrapper {
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social__icon--fill {
  fill: #ffffff;
}

.social-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
