:root {
  --logo-color-header: #000000;
  --brand-color: #3f51b5;
  --backgound-navigation: #ffffff;
  --color-partfolio-btn-hover: #ffffff;
  --colot-navigation-link: #212121;
  --navigation__link-hov: #2196f3;
  --curent-color: #2196f3;
  --header-contact-link-hov: #2196f3;
  --backgound-hero: #2f303a;
  --background-advantages: #ffffff;
  --background-hero: #ffffff;
  --background-team: #f5f4fa;
  --products-item-bg: #ffffff;
  --color-h1: #ffffff;
  --color-logo-footer: #ffffff;
  --color-h: #212121;
  --color-partfolio-btn: #212121;
  --color-logo: #2196f3;
  --color-partfolio-bg: #2196f3;
  --color-link-contact: #757575;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --advantages-thumb: #f5f4fa;
  --color-btn: #ffffffff;
  --gap30: 30px;
  --swat-item-bg: #ffffff;
  --background-btn: #2196f3;
  --gap50: 50px;
  --media480: 480px;
  --media480: 768px;
  --media480: 1200px;
}
