// .form-footer {
//   display: flex;
// }

.footer-form__lable {
  display: inline-block;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__tittle {
  display: block;
  margin-bottom: 20px;
}

.footer-form__input {
  display: inline-block;
  padding: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer-form__icon {
  width: 24px;
  height: 20px;
  fill: #ffffff;
  margin-left: 10px;
}

.btn__height {
  height: 50px;
}
