.Klients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.Klients__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h);
  margin-bottom: 50px;
}

// .brands {
//   display: flex;
//   margin-left: calc(-1 * var(--gap30));
//   justify-content: center;
// }

.brands__item {
  margin-left: 30px;
  // flex-basis: calc(100% / 6 - var(--gap30));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brands__link {
  display: flex;
  min-height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    border: 1px solid #2196f3;
  }
}

.brands__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .brands__link:hover,
  :focus& {
    fill: #2196f3;
  }
}

.brands__icon--first {
  width: 44px;
  height: 50px;
}

.brands__icon--taglin {
  width: 40px;
  height: 52px;
}

.brands__icon--company {
  width: 41px;
  height: 42px;
}

.brands__icon--foster {
  width: 79px;
  height: 42px;
}

.brands__icon--brand {
  width: 59px;
  height: 47px;
}

.brands__icon--last {
  width: 88px;
  height: 45px;
}
